<div class="bg-blue-200">
    <section class="mx-auto max-w-screen-xl sm:flex justify-between items-center py-6 px-2 sm:px-4">
        <div class="max-sm:mb-6 mr-6 whitespace-nowrap">
            <h2 class="text-2xl font-semibold tracking-wide">Contributors</h2>
            <a href="https://github.com/flow-php/flow/graphs/contributors" target="_blank" class="flex items-center text-white">
                Join us on GitHub
                <img src="{{ asset('images/icons/external.svg') }}" alt="external resource" width="16" height="16" class="ml-1">
            </a>
        </div>

        <div class="grid gap-1 sm:gap-2 lg:gap-4 grid-cols-8 lg:grid-cols-12">
            {% for contributor in contributors %}
                <a href="{{ contributor.html_url }}" rel="nofollow" target="_blank">
                    <img loading="lazy" src="{{ contributor.avatar_url }}" alt="{{ contributor.login }}" width="56" height="56" title="{{ contributor.login }}" class="rounded-full">
                </a>
            {% endfor %}
        </div>
    </section>
</div>