{% extends 'base.html.twig' %}

{%- block title -%}
    Article - {{ post.title }}
{%- endblock -%}

{%- block description -%}
    {{ post.description }}
{%- endblock -%}

{% block main %}
    <section class="mt-5 mb-5 sm:px-4 mx-auto max-w-screen-xl">
        <ul class="inline">
            <li class="inline mr-2">
                <a href="{{ path('blog') }}" class="text-blue-500 hover:underline">Blog</a>
            </li>
            <li class="inline mr-2">
                <span class="text-gray-500">/</span>
            </li>
            <li class="inline mr-2">
                <span>{{ post.title }}</span>
            </li>
        </ul>
    </section>
    {{ block('article') }}
    <section class="mb-10 px-2 sm:px-4 mx-auto max-w-screen-xl">
        <script src="https://giscus.app/client.js"
                data-repo="flow-php/flow-php.com"
                data-repo-id="R_kgDOHja2Yg"
                data-category="Blog"
                data-category-id="DIC_kwDOHja2Ys4Cidc-"
                data-mapping="url"
                data-strict="0"
                data-reactions-enabled="0"
                data-emit-metadata="0"
                data-input-position="bottom"
                data-theme="dark"
                data-lang="en"
                crossorigin="anonymous"
                async>
        </script>
    </section>
{% endblock %}