{% extends 'base.html.twig' %}

{%- block title -%}
    Flow PHP - Blog
{%- endblock -%}

{%- block description -%}
    Blog posts and tutorials about Flow PHP, a PHP-based, strongly typed data processing framework with low memory footprint.
{%- endblock -%}

{% block main %}
<div class="py-10 px-2 sm:px-4 mx-auto max-w-screen-xl">
    <h1 class="text-5xl mb-10">Flow PHP - Blog</h1>
    {% for post in posts %}
    <article class="shadow-2xl shadow-gray rounded border-gray border-2 p-4 rounded mb-10">
        <img src="{{ asset('images/icons/pencil.svg') }}" width="32" height="32" alt="feature" class="inline mr-2 bg-blue-100 p-1 -mt-4 rounded">
        <a
            class="text-white"
            href="{{ path('blog_post', {date: post.date | date('Y-m-d'), slug: post.slug}) }}"
        >
        <h2 class="inline text-4xl font-bold">{{ post.title }}</h2>
        </a>
        <hr class="text-blue-100 my-4 border-t-2 rounded">
        <h3 class="mb-2">Posted on {{ post.date | date }}</h3>
        <p class="mb-2">
            {{ post.description }}
        </p>
        <a
                href="{{ path('blog_post', {date: post.date | date('Y-m-d'), slug: post.slug}) }}"
                class="text-blue-500 hover:underline mt-2"
        >
            Read more
        </a>
    </article>
    {% endfor %}
</div>
{% endblock %}